# Backend (Python/Django)
backend/*.pyc
backend/.env
backend/__pycache__/
backend/*.log
backend/static/uploads/
backend/db.sqlite3

# Frontend (Node/Vue)
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
