# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True

# Database
DB_NAME=eve_echoes_v2
DB_USER=root
DB_PASSWORD=your-password-here
DB_HOST=8.134.144.49
DB_PORT=3306

# Email
EMAIL_HOST_USER=your-email@163.com
EMAIL_HOST_PASSWORD=your-email-password-here
