[Unit]
Description=Run the EVEM Killboard collector every ten minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
RandomizedDelaySec=1min
AccuracySec=15s
Persistent=true
Unit=evem-killboard-collector.service

[Install]
WantedBy=timers.target
